.unknown {
	background-image: url("./Images/Flipped/Unknown.png");
}
.abigail {
	background-image: url("./Images/Flipped/Abigail.png");
}
.akuma {
	background-image: url("./Images/Flipped/Gouki.png");
}
.alex {
	background-image: url("./Images/Flipped/Alex.png");
}
.balrog {
	background-image: url("./Images/Flipped/Balrog.png");
}
.birdie {
	background-image: url("./Images/Flipped/Birdie.png");
}
.bison {
	background-image: url("./Images/Flipped/M.Bison.png");
}
.blanka {
	background-image: url("./Images/Flipped/Blanka.png");
}
.cammy {
	background-image: url("./Images/Flipped/Cammy.png");
}
.chunli {
	background-image: url("./Images/Flipped/Chun-Li.png");
}
.cody {
	background-image: url("./Images/Flipped/Cody.png");
}
.dhalsim {
	background-image: url("./Images/Flipped/Dhalsim.png");
}
.ed {
	background-image: url("./Images/Flipped/ED.png");
}
.falke {
	background-image: url("./Images/Flipped/Falke.png");
}
.fang {
	background-image: url("./Images/Flipped/F.A.N.G.png");
}
.g {
	background-image: url("./Images/Flipped/G.png");
}
.guile {
	background-image: url("./Images/Flipped/Guile.png");
}
.ibuki {
	background-image: url("./Images/Flipped/Ibuki.png");
}
.juri {
	background-image: url("./Images/Flipped/Juri.png");
}
.karin {
	background-image: url("./Images/Flipped/Karin.png");
}
.ken {
	background-image: url("./Images/Flipped/Ken.png");
}
.kolin {
	background-image: url("./Images/Flipped/Kolin.png");
}
.laura {
	background-image: url("./Images/Flipped/Laura.png");
}
.menat {
	background-image: url("./Images/Flipped/Menat.png");
}
.mika {
	background-image: url("./Images/Flipped/Mika.png");
}
.nash {
	background-image: url("./Images/Flipped/Nash.png");
}
.nekali {
	background-image: url("./Images/Flipped/Necali.png");
}
.rashid {
	background-image: url("./Images/Flipped/Rashid.png");
}
.ryu {
	background-image: url("./Images/Flipped/Ryu.png");
}
.sagat {
	background-image: url("./Images/Flipped/Sagat.png");
}
.sakura {
	background-image: url("./Images/Flipped/Sakura.png");
}
.urien {
	background-image: url("./Images/Flipped/Urien.png");
}
.vega {
	background-image: url("./Images/Flipped/Vega.png");
}
.zangief {
	background-image: url("./Images/Flipped/Zangief");
}
.zeku {
	background-image: url("./Images/Flipped/Zeku.png");
}
