.unknown {
	background-image: url("./Images/Character/SFV/Unknown.png");
}
.abigail {
	background-image: url("./Images/Character/SFV/Abigail.png");
}
.akuma {
	background-image: url("./Images/Character/SFV/Gouki.png");
}
.alex {
	background-image: url("./Images/Character/SFV/Alex.png");
}
.balrog {
	background-image: url("./Images/Character/SFV/Balrog.png");
}
.birdie {
	background-image: url("./Images/Character/SFV/Birdie.png");
}
.bison {
	background-image: url("./Images/Character/SFV/M.Bison.png");
}
.blanka {
	background-image: url("./Images/Character/SFV/Blanka.png");
}
.cammy {
	background-image: url("./Images/Character/SFV/Cammy.png");
}
.chunli {
	background-image: url("./Images/Character/SFV/Chun-Li.png");
}
.cody {
	background-image: url("./Images/Character/SFV/Cody.png");
}
.dhalsim {
	background-image: url("./Images/Character/SFV/Dhalsim.png");
}
.ed {
	background-image: url("./Images/Character/SFV/ED.png");
}
.falke {
	background-image: url("./Images/Character/SFV/Falke.png");
}
.fang {
	background-image: url("./Images/Character/SFV/F.A.N.G.png");
}
.g {
	background-image: url("./Images/Character/SFV/G.png");
}
.guile {
	background-image: url("./Images/Character/SFV/Guile.png");
}
.ibuki {
	background-image: url("./Images/Character/SFV/Ibuki.png");
}
.juri {
	background-image: url("./Images/Character/SFV/Juri.png");
}
.karin {
	background-image: url("./Images/Character/SFV/Karin.png");
}
.ken {
	background-image: url("./Images/Character/SFV/Ken.png");
}
.kolin {
	background-image: url("./Images/Character/SFV/Kolin.png");
}
.laura {
	background-image: url("./Images/Character/SFV/Laura.png");
}
.menat {
	background-image: url("./Images/Character/SFV/Menat.png");
}
.mika {
	background-image: url("./Images/Character/SFV/Mika.png");
}
.nash {
	background-image: url("./Images/Character/SFV/Nash.png");
}
.nekali {
	background-image: url("./Images/Character/SFV/Necali.png");
}
.rashid {
	background-image: url("./Images/Character/SFV/Rashid.png");
}
.ryu {
	background-image: url("./Images/Character/SFV/Ryu.png");
}
.sagat {
	background-image: url("./Images/Character/SFV/Sagat.png");
}
.sakura {
	background-image: url("./Images/Character/SFV/Sakura.png");
}
.urien {
	background-image: url("./Images/Character/SFV/Urien.png");
}
.vega {
	background-image: url("./Images/Character/SFV/Vega.png");
}
.zangief {
	background-image: url("./Images/Character/SFV/Zangief");
}
.zeku {
	background-image: url("./Images/Character/SFV/Zeku.png");
}
