.unknown {
	background-image: url("/ranking/Images/Character/T7/Unknown.png");
}
.alisa {
	background-image: url("/ranking/Images/Character/T7/Alisa.png");
}
.asuka {
	background-image: url("/ranking/Images/Character/T7/Asuka.png");
}
.bob {
	background-image: url("/ranking/Images/Character/T7/Bob.png");
}
.bryan {
	background-image: url("/ranking/Images/Character/T7/Bryan.png");
}
.chloe {
	background-image: url("/ranking/Images/Character/T7/L.Chloe.png");
}
.claudio {
	background-image: url("/ranking/Images/Character/T7/Claudio.png");
}
.deviljin {
	background-image: url("/ranking/Images/Character/T7/DevilJin.png");
}
.dragunov {
	background-image: url("/ranking/Images/Character/T7/Dragunov.png");
}
.eddy {
	background-image: url("/ranking/Images/Character/T7/Eddy.png");
}
.gigas {
	background-image: url("/ranking/Images/Character/T7/Gigas.png");
}
.gouki {
	background-image: url("/ranking/Images/Character/T7/Gouki.png");
}
.heihachi {
	background-image: url("/ranking/Images/Character/T7/Heihachi.png");
}
.hwoarang {
	background-image: url("/ranking/Images/Character/T7/Hwoarang.png");
}
.jack7 {
	background-image: url("/ranking/Images/Character/T7/Jack7.png");
}
.jin {
	background-image: url("/ranking/Images/Character/T7/Jin.png");
}
.katarina {
	background-image: url("/ranking/Images/Character/T7/Katarina.png");
}
.kazuya {
	background-image: url("/ranking/Images/Character/T7/Kazuya.png");
}
.king {
	background-image: url("/ranking/Images/Character/T7/King.png");
}
.kuma {
	background-image: url("/ranking/Images/Character/T7/Kuma.png");
}
.lars {
	background-image: url("/ranking/Images/Character/T7/Lars.png");
}
.law {
	background-image: url("/ranking/Images/Character/T7/Law.png");
}
.lee {
	background-image: url("/ranking/Images/Character/T7/Lee.png");
}
.leo {
	background-image: url("/ranking/Images/Character/T7/Leo.png");
}
.lili {
	background-image: url("/ranking/Images/Character/T7/Lili.png");
}
.lin {
	background-image: url("/ranking/Images/Character/T7/Lin.png");
}
.miguel {
	background-image: url("/ranking/Images/Character/T7/Miguel.png");
}
.nina {
	background-image: url("/ranking/Images/Character/T7/Nina.png");
}
.panda {
	background-image: url("/ranking/Images/Character/T7/Panda.png");
}
.paul {
	background-image: url("/ranking/Images/Character/T7/Paul");
}
.raven {
	background-image: url("/ranking/Images/Character/T7/M.Raven.png");
}
.shaheen {
	background-image: url("/ranking/Images/Character/T7/Shaheen.png");
}
.steve {
	background-image: url("/ranking/Images/Character/T7/Steve.png");
}
.yoshimitsu {
	background-image: url("/ranking/Images/Character/T7/Yoshi.png");
}
