.unknown {
	background-image: url("/ranking/Images/Character/T7/Unknown.png");
}
.alisa {
	background-image: url("/ranking/Images/Character/T7/Alisa.png");
}
.deviljin {
	background-image: url("/ranking/Images/Character/T7/DevilJin.png");
}
